{{ define "main" }}
{{ $data := index .Site.Data .Lang }}
{{ $aboutData := $data.about.about }}
<section class="section blog-single py-5">
	<div class="container">
		<div class="row justify-content-center pb-5">
			<div class="col-12">
				{{ with .Title }}
					<h2 class="display-1 fw-bold text-center text-primary pb-3">{{ . }}</h2>
				{{ end }}
				{{ with $aboutData.summary }}
					<p class="text-left text-secondary pb-3">{{ . }}</p>
				{{ end }}
			</div>
		</div>
	</div>
</section>
{{ end }}
