{{ define "main" }}

{{/* Get the correct data based on current page language */}}
{{ $lang := .Lang | default "en" }}
{{ $business := index .Site.Data $lang "solutions" "business" }}
{{ $education := index .Site.Data $lang "solutions" "education" }}
{{ $marketing := index .Site.Data $lang "solutions" "marketing" }}
{{ $technology := index .Site.Data $lang "solutions" "technology" }}

<section class="section py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-12">
        <h2 class="display-1 fw-bold text-center text-primary pb-3">{{ .Title }}</h2>
        {{ with .Params.description }}
          <p class="lead text-center text-secondary pb-3">{{ . }}</p>
        {{ end }}
      </div>
    </div>
    <div class="row g-5">
      {{ partial "sections/solution.html" (dict "section" $business "icon" "/images/icons/chart-diagram-solid-full.svg" "title" "Business" "id" "business") }}
      {{ partial "sections/solution.html" (dict "section" $education "icon" "/images/icons/book-open-solid-full.svg" "title" "Education" "id" "education") }}
      {{ partial "sections/solution.html" (dict "section" $marketing "icon" "/images/icons/chart-area-solid-full.svg" "title" "Marketing" "id" "marketing") }}
      {{ partial "sections/solution.html" (dict "section" $technology "icon" "/images/icons/network-wired-solid-full.svg" "title" "Technology" "id" "technology") }}
    </div>
  </div>
</section>

{{ end }}
