@font-face {
  font-family: "Inter Display";
  src: url("{{ site.BaseURL }}/fonts/InterDisplay-Regular.otf")
    format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Inter Display";
  src: url("{{ site.BaseURL }}/fonts/InterDisplay-SemiBold.otf")
    format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Inter Display";
  src: url("{{ site.BaseURL }}/fonts/InterDisplay-Bold.otf") format("opentype");
  font-weight: bold;
}
