<li class="nav__list-item">
  <div class="optionswitch">
    <input class="optionswitch__picker" type="checkbox" id="languagepicker" hidden="">
    <label class="optionswitch__label" for="languagepicker">EN <i class="fa fa-angle-down" aria-hidden="true"></i></label>
    <div class="optionswitch__triangle"></div>
    <ul class="optionswitch__list">
      <li class="optionswitch__list-item">
        <a href="/fr/" title="FR">
          <span aria-label="FR">FR</span>
        </a>
      </li>
      <li class="optionswitch__list-item">
        <a href="/zh/" title="ZH">
          <span aria-label="ZH">ZH</span>
        </a>
      </li>
    </ul>
  </div>
</li>