<section class="section cta py-5">
  <div class="container" id="contactus">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6">
        {{ with .content.title }}
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="contact-form col-12 col-xl-6">
        <form id="contactForm" class="form-style" method="POST" action="https://formspree.io/f/mvzbdqdb">
          <ul>
            <li>
              <label for="username">{{ i18n "name" }}</label>
              <input class="field-style field-full" type="text" name="name" id="username" placeholder="Name" required>
            </li>
            <li>
              <label for="email">{{ i18n "email" }}</label>
              <input class="field-style field-full" type="email" id="email" name="_replyto" placeholder="Email" required>
            </li>
            <li>
              <label for="message">{{ i18n "message" }}</label>
              <textarea class="field-style" name="message" id="message" rows="6" placeholder="Message" required></textarea>
            </li>
            <li>
              <div class="g-recaptcha" data-sitekey="YOUR_RECAPTCHA_SITE_KEY"></div>
            </li>
            <li>
              <input class="btn btn-outline-primary px-4" type="submit" value="Send" />
            </li>
            <li>
              <input type="text" name="_gotcha" style="display:none" />
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</section>