<section class="section hero py-5 mb-5" 
         style="background-image: url('{{ "images/hero-image.png" | relURL }}'); 
                background-size: auto; 
                background-repeat: no-repeat; 
                background-position: center; 
                min-height: 700px;">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center" style="min-height: 700px;">
        {{ with .content.title }}
          <h3 class="hero-title fw-bold display-1 text-primary text-center text-xl-start pb-4">{{ . | markdownify }}</h3>
        {{ end }}
        {{ with .content.text }}
          <p class="text-center text-black-61 text-xl-start pb-4">{{ . | markdownify }}</p>
        {{ end }}
        <div class="d-flex flex-column flex-xl-row">
          {{ with .content.buttonPrimary }}
            <a class="btn btn-primary text-light px-4 my-1" href="{{ .url }}">{{ .label }}</a>
          {{ end }}
          {{ with .content.buttonSecondary }}
            <a class="btn btn-outline-primary px-4 my-1 ms-xl-4" href="{{ .url }}" target="_blank">{{ .label }}<span class="ms-2">{{ partial "icons/arrow-right.html" }}</span></a>
          {{ end }}
        </div>
      </div>
      <div class="col-xl-6 d-none d-xl-block"></div>
    </div>
  </div>
</section>